<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HTML5 video태그 예제</title>
</head>
<body>
	<input type="text" th:value="${@environment.getProperty('movie.path')}"/>
<!-- 	<video width="640" height="344"> -->
<!-- 		<source src="${@environment.getProperty('movie.path')}/[JTBC] 슈가맨 2.E02.180121.720p-NEXT.mp4" -->
<!-- 		 type="video/mp4"> -->
<!-- 		 Your browser does not support the video tag. -->
<!-- 	</video> -->

</body>
</html>